.breadcrump{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}


.form-group-si{
	margin-top: 15px;
}

.control-label{
	font-weight: 600;
	height: 90px;
  line-height: 90px;
  text-align: center;
}

.form-control-si{
	border-radius: 3px;
}

.test{
	align-content: center;
}

.mydr{
	position: absolute; 
	transform: translate3d(0px, 36px, 0px);
	top: 0px; left: 0px; 
	will-change: transform;
}

html {
    position: relative;
    min-height: 100%;
}

body {
	overflow: auto;
    margin: 0 0 10px; /* bottom = footer height */
}

footer {
	background-color: black;
	color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}